@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* -------------------------------CARD CROUSAL------------------------------------- */


#card {
	width: 350px;
	height: 460px;
	background: #fff;
	display: flex;
	align-items: flex-end;
	padding: 2rem 1rem;
	position: relative;
	transition: 0.5s all ease-in-out;
}
#card:hover {
	transform: translateY(-10px);
}
#card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F44356;
	z-index: 2;
	opacity: 0;
	transition: 0.5s all;
}
#card:hover::before {
	opacity: 1;
}

#card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}


#card #info {
	position: relative;
	color: #fff;
	z-index: 3;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;
}
#card:hover #info {
	opacity: 1;
	transform: translateY(0);
}


#card #info p {
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
#card #info #btn {
	background: #fff;
	padding: 0.5rem 1rem;
	color: #000;
	font-size: 12px;
	cursor: pointer;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
	transition: .4s ease-in-out;
}
#card #info #btn:hover {
	background: #F44356;
	color: #fff;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}


/* -------------------------------CARD HOVER------------------------------------- */

#card2:hover {
	transform: scale(1.1);
  }
#card2 {
	transition: transform 0.5s;
}

/* -------------------------------CARD HOVER------------------------------------- */


/* -------------------------------form css STARTS------------------------------------- */

.form-control {
	border: none;
	border-bottom: 1px solid #ccc;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
	background: none; 
}
.form-control:active, .form-control:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #000; 
}
  
/* -------------------------------form css ENDS------------------------------------- */






  #SENDME{
	border-color: #FF3366;
	background-color: #FF3366;	
	color: white;
  }





